#RewriteEngine On    
#RewriteRule    ^prafful/?$    test.php    [NC,L] 

RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^/]+)$ doConfess.php?user=$1 [L,QSA]   
